.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

mat-accordion.mat-accordion button.mat-button{
  width: 40px;
  height: 40px;
  min-width: 0px;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 5px;
}

button.mat-button img{
  height: 35px;
  width: 45px;
}
