<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Componenti</mat-toolbar>
    <mat-nav-list>
      <mat-accordion multi=true>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Gates
          </mat-expansion-panel-header>

          <button mat-button (mousedown)="ContentComponent.selectComponent('AND',  $event)" (mouseup) ="ContentComponent.reset()"><img src="./assets/AND.svg"> </button>
          <button mat-button (mousedown)="ContentComponent.selectComponent('OR',   $event)" (mouseup) ="ContentComponent.reset()"><img src="./assets/OR.svg"></button>
          <button mat-button (mousedown)="ContentComponent.selectComponent('XOR',  $event)" (mouseup) ="ContentComponent.reset()"><img src="./assets/XOR.svg"></button>
          <button mat-button (mousedown)="ContentComponent.selectComponent('NAND', $event)" (mouseup) ="ContentComponent.reset()"><img src="./assets/NAND.svg"></button>
          <button mat-button (mousedown)="ContentComponent.selectComponent('NOR',  $event)" (mouseup) ="ContentComponent.reset()"><img src="./assets/NOR.svg"></button>
          <button mat-button (mousedown)="ContentComponent.selectComponent('EQU',  $event)" (mouseup) ="ContentComponent.reset()"><img src="./assets/EQU.svg"></button>
          <button mat-button (mousedown)="ContentComponent.selectComponent('NOT',  $event)" (mouseup) ="ContentComponent.reset()"><img src="./assets/NOT.svg"></button>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Input & Output
          </mat-expansion-panel-header>

          <button mat-button (mousedown)="ContentComponent.selectComponent('INPUT',  $event) " (mouseup) ="ContentComponent.reset()"><img src="./assets/INPUT.svg"></button>
          <button mat-button (mousedown)="ContentComponent.selectComponent('INPUTN', $event)"  (mouseup) ="ContentComponent.reset()"><img src="./assets/INPUTN.svg"></button>
          <button mat-button (mousedown)="ContentComponent.selectComponent('WLED', $event)"  (mouseup) ="ContentComponent.reset()"><img src="./assets/WLED.svg"></button>

        </mat-expansion-panel>

      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="margin-right: 15px;">Strumenti </span>
      <mat-button-toggle-group value="0" >
        <mat-button-toggle value="0" (click)="ContentComponent.changeMode(0)">
          <img src="./assets/wire.svg">
        </mat-button-toggle>
        <mat-button-toggle value="1" (click)="ContentComponent.changeMode(1)">
          <img src="./assets/delete.svg">
        </mat-button-toggle>
        <mat-button-toggle value="2" (click)="ContentComponent.changeMode(2)">
          <img src="./assets/move.svg">
        </mat-button-toggle>
        <mat-button-toggle value="2" (click)="ContentComponent.changeMode(3); ContentComponent.evaluateCircuit()">
          <img src="./assets/play.svg">
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-toolbar>
    <app-content #ContentComponent></app-content>
  </mat-sidenav-content>
</mat-sidenav-container>